@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	width:100vh;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	background:linear-gradient(to right,#3f5efb,#fc466b);
}
form{
	width:25rem;
	height:28rem;
	margin-left:50%;
	margin-top: 80px;
	float:right;
	flex-direction: column;
	display:flex;
	background:rgba(255,255,255,0.06);
	border-left:1px solid rgba(255,255,255,.3);
	border-right:1px solid rgba(255,255,255,.3);
	border-radius:30px;
}
form:before{
	content:'';
	position:absolute;
	bottom:5%;
	right:45%;
	width:200px;
	height:200px;
	background:magenta;
	border-radius:50%;
	z-index:-1;
	opacity:.7;
}
form:after{
	content:'';
	position:absolute;
	top:2%;
	right:70%;
	width:200px;
	height:200px;
	background:magenta;
	border-radius:50%;
	z-index:-1;	
	opacity:.8;
}
h1{
	color:white;
	text-align:center;
	
}
label{
	color:white;
	font-size:20px;
	margin:20px;
}
input{
	width:80%;
	height:30px;
	margin: 5% auto;
	margin-bottom:8%;
	border:none;
	outline:none;
	background:transparent;
	color:yellow;
	font-size:20px;
	font-family:arial;
	border-bottom:1px solid rgba(255,255,255,0.6);
}
button{
	width:50%;
	margin:20px auto;
	margin-bottom:5%;
	border-radius:5px;
	font-size:20px;
	font-family:arial;
	padding:10px 30px;
	text-align:center;
	
	
	
}
a{
	text-align:center;
}