*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
   
}
body{
    height: 900px;
    width: 70%;
    margin: 10px auto;
    background-color: antiquewhite;
}
.header{
    height: 200px;
    width: 100%;
    background-color: blueviolet;
}
.logo_text{
    height: 200px;
    width: 40%;
    background-color: rgb(226, 43, 168);
    float: left;
}
.logo{
    height: 200px;
    width: 60%;
    background-color: rgb(226, 43, 43);
    float: right;
}
h1{
    color: aqua;
    display: flex;
    justify-content: center;
    margin: 30px;
   
}
p{
    color: aqua;
    display: flex;
    justify-content: center; 
}
.logo img{
    height: 200px;
    width: 100%;
   
}

.navy{
    height: 50px;
    width: 100%;
    background-color: rgb(43, 226, 73);
    cursor: pointer;
}
 li{
 list-style-type:none;
 display: inline;
 padding-left: 30px;
 padding-right: 15px;
 line-height: 40px;
 
}
 li a{
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
}
 li a:hover{
    color: blue;
}
.container{
    height: 600px;
    width: 100%;
    background-color: aqua;
   
    
}
h1{
    color: black;
}
.left{
    height: 600px;
    width: 30%;
    background-color: rgb(186, 226, 43);
    float: left;
}
.left ul li{
    display: flex;
    justify-content: center;
    margin: 30px;
    
    
    
}
.left ul li a{
    padding: 30px;
    text-decoration: none;
    color: brown;
    font-family: sans-serif;
   
}
.right{ 
    height: 600px;
    width: 70%;
    background-color: rgb(150, 43, 226);
    float: right;
}
.footer{
    height: 50px;
    width: 100%;
    background-color: rgb(226, 43, 153);
    float: right;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login{
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
fieldset{
   margin-left: 200px;
   border: 1px solid rgb(0, 255, 42);
}
td{
    color: white;
    padding: 20px;
    font-size: 20px;
}
input{
    color: blue;
    font-size: 20px;
    

}
input[type="submit"],input[type="reset"]{
    color: white;
    background-color: rgb(200, 0, 255);
    border-radius: 10px;
    padding: 10px;
}
input[type="submit"]:hover,input[type="reset"]:hover{
  background-color: blue;
}

legend{
    margin-left: 20px;
    color: blue;
    font-size: 20px;
}




